<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desk Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<center><body>
  <h1></h1>
<div class="forms">
<fieldset>

<form method="post" action="/up">   
<ol><legend>Desk Height Control</legend></ol>
<ol><button type="submit" value="true" name="up" class="btn btn-primary">UP</button></ol>
</form>

<form method="post" action="/down">   
<ol><button type="submit" value="true" name="down" class="btn btn-primary">DOWN</button></ol>
</form>


        </fieldset>
  </body></center>
</html>
