<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>My Desk Control</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col md-12">

                    <div class="jumbotron p-3">
                        <center><h2><b>Desk Control</b></h2></center>

                        <table class="table table-hover table-dark mx-auto w-auto">
            <tr>
                </tr>

                <tr>
                <td>
                    <form method="post" action="/">
                        <div class="btn-group">
                        <input type="submit" class="btn btn-outline-warning btn-xs" value="up" name="up"/>
                        <input type="submit" class="btn btn-outline-danger btn-xs" value="stop" name="stop_up"/>
                        </div></form>
                </td>

                <tr>
                </tr>

                <td>
                            <form method="post" action="/">
                                <div class="btn-group">
                                    <input type="submit" class="btn btn-outline-warning btn-xs" value="down" name="down"/>
                                    <input type="submit" class="btn btn-outline-danger btn-xs" value="stop" name="stop_down"/>
                                </div></form>

                    </td>

                    </div>
                </div>
            </div>
        </div>
    </body>